<body>
  <div id="carouselContainer">
  <h1 id="carouselTitle">Rhobot Shoutouts</h1>
  <div id="rho"></div>
  <div id="currentRhobot"></div>
  <div class="button"><button id="prev">Prev</button></div>
  <div class="button"><button id="next">Next</button></div>
  </div>
  <div class="container">
    <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <a class="btn btn-default" href="https://github.com/thisisserious/rho_weekend_challenge_2" role="button"
        target="_blank">Source code <span class="glyphicon glyphicon-new-window"></span></a>
    </div>
</div>
</body>
