<div class="jumbotron">
    <div class="container">
        <h1>Laura Abend</h1>
        <h2>Full-Stack Software Developer with front-end focus</h2>
    </div>
</div>

<div class="container-fluid">
  <section id='projects'>
    <h1>Projects</h1>
      <div class="row">
        <div class="col-md-4">
          <h3><a href="https://thisisserious.github.io/resume.html" target="_blank">
            Original r&#x00E9;sum&#x00E9;</a></h3>
            <p>Part of the application to <a href="https://primeacademy.io/">Prime
              Digital Academy</a> was to code my r&#x00E9;sum&#x00E9; and (bonus points)
              get it hosted on <a href="https://pages.github.com/">GitHub Pages</a>.
              This is my original submission (contact info omitted).</p>
              <h4><a href="https://github.com/thisisserious/thisisserious.github.io"
                target="_blank">Source code</a></h4>
          </div>
          <div class="col-md-4"><h3>Carousel</h3>
            <p>One of my first weekend assignments at Prime, I built this
              carousel to practice making requests to the server using AJAX and
              updating the DOM using jQuery &amp; JavaScript.</p>
              <div class="btn-group btn-group-justified" role="group">
              <a class="btn btn-default" href="/carousel" role="button">Project <span class="glyphicon glyphicon-new-window"></span></a>
              <a class="btn btn-default" href="https://github.com/thisisserious/rho_weekend_challenge_2" role="button"
                target="_blank">Source code <span class="glyphicon glyphicon-console"></span></a>
                </div>
          </div>
          <div class="col-md-4"><h3>Calculator</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco.</p>
              <h4><a href="https://github.com/thisisserious/wknd3_calculator"
                target="_blank">Source code</a></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"><h3>To Do List</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco.</p>
              <h4><a href="https://github.com/thisisserious/toDoListApp"
                target="_blank">Source code</a></h4>
          </div>
          <div class="col-md-4"><h3>Good Help</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco.</p>
              <h4><a href="https://github.com/thisisserious/soloProject"
                target="_blank">Source code</a></h4>
          </div>
          <div class="col-md-4"><h3><a href="https://blooming-anchorage-93223.herokuapp.com/"
            target="_blank">GrowLog</a></h3>
            <p>GrowLog was built for our final group project and is the
              culmination of our time at Prime. Our group worked with the
              client, Page &amp; Flowers, to create a real-world solution for
              their urban farming tracking needs.</p>
              <h4><a href="https://github.com/adwhitaker/GrowLog"
                target="_blank">Source code</a></h4>
          </div>
        </div>
  </section>
</div>

<div class="container-fluid">
<section id='aboutMe'>
    <h1>About me</h1>
    <img src="../assets/glamour.jpeg" alt="Laura Abend" id='glamour' />
    <div class="container">
    <article id='bio'>
        <p>
          Unbeknownst to me at the time, I started my journey into software
          engineering in 2012. What started out as curious hobbying soon became
          a full-blown passion. I’ve had content management roles for various
          websites across multiple platforms – <strong>Joomla</strong>,
          <strong>Weebly</strong>, <strong>Sitecore</strong>,
          <strong>SharePoint</strong> – and began learning the basics of coding
          as a result. I couldn’t get enough.
        </p>
        <p>
          September 2016, I had left my job and finished the first six weeks of
          pre-work for an 18-week coding bootcamp and, before the in-class
          portion started, we were asked to take the StrengthsFinder Assessment.
          After taking it, I found that ‘Learner’ is one of my top five
          strengths and I laughed out loud at this tidbit from one of the
          results guides:
        </p>
        <blockquote>
          ‘Seek roles that require some form of technical competence. You will
          enjoy the process of acquiring and maintaining this expertise. As far
          as possible, shift your career toward a field with constantly changing
          technologies or regulations. You will be energized by the challenge of
          keeping up.’
        </blockquote>
        <p>
          It was like a strange little fortune cookie, portending my future that
          had already begun to unfurl. I smiled and nodded, feeling energized by
          what the future holds. Incidentally, my number one strength is
          'Futuristic'.
        </p>
          <h3>Onward and upward!</h3>

    </article>
  </div>

</section>
</div>
