<div class="jumbotron">
    <div class="container">
        <h1>Laura Abend</h1>
        <h2>Full-Stack Software Developer with front-end focus</h2>
    </div>
</div>

<div class="container-fluid" id='projects'>
    <h1>Projects</h1>
    <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" id="project1">
      <img src="../assets/sunset_fade.jpg" alt="sunset">
      <div class="caption">
        <h3>Portfolio</h3>
        <p>Built completely from scratch and designed for mobile-accessibility,
        my online portfolio was built using JavaScript, AngularJS, Bootstrap,
      expressjs, nodejs, HTML5, CSS3, and [on most days] <span class="glyphicon glyphicon-heart-empty"></span></p>
      <div class="btn-group btn-group-justified" role="group" aria-label="buttons">
        <a href="https://github.com/thisisserious/laura_abend_portfolio" class="btn btn-default" role="button">Source code <span class="glyphicon glyphicon-console"></span></a>
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" id="project2">
      <img src="../assets/sunset_fade.jpg" alt="sunset">
      <div class="caption">
        <h3>GrowLog</h3>
        <p>GrowLog was built for our final group project and is the
          culmination of our time at Prime. Our group worked with the
          client, Page &amp; Flowers, to create a real-world, mobile-first
          solution for their urban farming tracking needs.</p>
          <div class="btn-group btn-group-justified" role="group" aria-label="buttons">
        <a href="https://blooming-anchorage-93223.herokuapp.com/" class="btn btn-default" role="button" target="_blank">Project <span class="glyphicon glyphicon-new-window"></span></a>
        <a href="https://github.com/adwhitaker/GrowLog" class="btn btn-default" role="button"
          target="_blank">Source code <span class="glyphicon glyphicon-console"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" id="project3">
      <img src="../assets/sunset_fade.jpg" alt="sunset">
      <div class="caption">
        <h3>Good Help</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco. This is
          the line that is helping it to expand.</p>
          <div class="btn-group btn-group-justified" role="group" aria-label="buttons">
        <a href="https://github.com/thisisserious/soloProject" class="btn btn-default" role="button">Source code <span class="glyphicon glyphicon-console"></span></a>
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../assets/sunset_fade.jpg" alt="sunset">
      <div class="caption">
        <h3>Project 4</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation.</p>
      <div class="btn-group btn-group-justified" role="group" aria-label="buttons">
        <a href="#" class="btn btn-default" role="button">Source code <span class="glyphicon glyphicon-console"></span></a>
      </div>
      </div>
    </div>
  </div>
</div>
      <!-- <div class="row">
        <div class="col-md-3" id="project1"><h3>Portfolio</h3>
          <p>Built completely from scratch and designed for mobile-accessibility,
          my online portfolio was built using JavaScript, AngularJS, Bootstrap,
        expressjs, nodejs, HTML5, CSS3, and [on most days] <span class="glyphicon glyphicon-heart-empty"></span></p>
        <div class="btn-group btn-group-justified" role="group" aria-label="buttons">
            <a class="btn btn-default" href="https://github.com/thisisserious/laura_abend_portfolio"
              role="button" target="_blank">Source code <span class="glyphicon glyphicon-console"></span></a>
            </div>
        </div>
        <div class="col-md-3" id="project2"><h3>GrowLog</h3>
          <p>GrowLog was built for our final group project and is the
            culmination of our time at Prime. Our group worked with the
            client, Page &amp; Flowers, to create a real-world, mobile-first
            solution for their urban farming tracking needs.</p>
            <div class="btn-group btn-group-justified" role="group" aria-label="buttons">
            <a class="btn btn-default" href="https://blooming-anchorage-93223.herokuapp.com/" role="button" target="_blank">Project <span class="glyphicon glyphicon-new-window"></span></a>
            <a class="btn btn-default" href="https://github.com/adwhitaker/GrowLog" role="button"
              target="_blank">Source code <span class="glyphicon glyphicon-console"></span></a>
            </div>
        </div>
        <div class="col-md-3" id="project3"><h3>Good Help</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco. This is
            the line that is helping it to expand.</p>
            <a class="btn btn-default" href="https://github.com/thisisserious/soloProject" role="button"
              target="_blank">Source code <span class="glyphicon glyphicon-console"></span></a>
        </div>
        <div class="col-md-3" id="project4"><h3>Project 4</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation.</p>
            <a class="btn btn-default" href="#" role="button"
              target="_blank">Source code <span class="glyphicon glyphicon-console"></span></a>
        </div>

        </div>
        <div class="row">
          <div class="col-md-3" id="project5"><h3>To Do List</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco. This is
              the line that is helping it to expand.</p>
              <a class="btn btn-default" href="https://github.com/thisisserious/toDoListApp" role="button"
                target="_blank">Source code <span class="glyphicon glyphicon-console"></span></a>
          </div>
          <div class="col-md-3" id="project6"><h3>Calculator</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco.</p>
              <a class="btn btn-default" href="https://github.com/thisisserious/wknd3_calculator" role="button"
                target="_blank">Source code <span class="glyphicon glyphicon-console"></span></a>
          </div>
          <div class="col-md-3" id="project7"><h3>Carousel</h3>
            <p>One of my first weekend assignments at Prime, I built this
              carousel to practice making requests to the server using AJAX and
              updating the DOM using jQuery &amp; JavaScript.</p>
              <a class="btn btn-default" href="/carousel" role="button">Project <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
              <a class="btn btn-default" href="https://github.com/thisisserious/rho_weekend_challenge_2" role="button"
                target="_blank">Source code <span class="glyphicon glyphicon-console"></span></a>
          </div>
          <div class="col-md-3" id="project8">
            <h3>Original r&#x00E9;sum&#x00E9;</h3>
              <p>Part of the application to Prime
                Digital Academy was to code my r&#x00E9;sum&#x00E9; and, for bonus
                points, get it hosted on GitHub Pages.
                This is my original submission (contact info omitted).</p>
                <a class="btn btn-default" href="https://thisisserious.github.io/resume.html" role="button" target="_blank">Project <span class="glyphicon glyphicon-new-window"></span></a>
                <a class="btn btn-default" href="https://github.com/thisisserious/thisisserious.github.io" role="button"
                  target="_blank">Source code <span class="glyphicon glyphicon-console"></span></a>
            </div>
        </div> -->
</div>

<div class="container-fluid" id='aboutMe'>
<section>
      <h1>About me</h1>
    <article id='bio'>
        <p>
          Unbeknownst to me at the time, I started my journey into software
          engineering in 2012. What started out as curious hobbying soon became
          a full-blown passion. I’ve had content management roles for various
          websites across multiple platforms – <strong>Joomla</strong>,
          <strong>Weebly</strong>, <strong>Sitecore</strong>,
          <strong>SharePoint</strong> – and began learning the basics of coding
          as a result. I couldn’t get enough.
        </p>
        <p>
          September 2016, I had left my job and finished the first six weeks of
          pre-work for an 18-week coding bootcamp and, before the in-class
          portion started, we were asked to take the StrengthsFinder Assessment.
          After taking it, I found that ‘Learner’ is one of my top five
          strengths and I laughed out loud at this tidbit from one of the
          results guides:
        </p>
        <blockquote>
          ‘Seek roles that require some form of technical competence. You will
          enjoy the process of acquiring and maintaining this expertise. As far
          as possible, shift your career toward a field with constantly changing
          technologies or regulations. You will be energized by the challenge of
          keeping up.’
        </blockquote>
        <p>
          It was like a strange little fortune cookie, portending my future that
          had already begun to unfurl. I smiled and nodded, feeling energized by
          what the future holds. Incidentally, my number one strength is
          'Futuristic'.
        </p>
          <h3>Onward and upward!</h3>

    </article>
  </section>
  </div>
