/* Elements */
body {
  /*background-color: #C0C0C0;*/
  /*color: #696969;*/
  background-color: #333333;
  color: #C0C0C0;
  padding-top: 70px;
  margin-bottom: 5em;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #C0C0C0;
}

li {
  display: inline;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

/* Navigation */
.navbar {
  background: #333333;
}

.navList {
  text-align: right;
  margin: 5px 0;
  padding: 10px 0;
}

.navList a {
  padding: .75em 1.5em;
  transition: all .25s ease-in-out;
}

/* Jumbotron */
.jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  background: #C0C0C0 url("../assets/light_ice_fade.jpg") center center;
  width: 100%;
  height: 57em;
  background-size: cover;
  overflow: hidden;
  word-break: normal;
}

.jumbotron h1, h2 {
  margin: 0;
}

/* Projects */
/*div.col-md-3 {
  text-align: justify;
  height: 22em;
}*/

div.col-md-4 {
  text-align: center;
}

/* IDs */

#projects {
  margin-top: 40em;
}

#project1, #project8 {
  background: #e3e6ea;
  color: #808080;
}

#project2, #project7 {
  background: #cfd2d6;
  color: #696969;
}

#project3, #project6 {
  background: #b7babf;
  color: #4d6066;
}

#project4, #project5 {
  background: #95979b;
  color: #3e3e3e;
}

#aboutMe {
  background: grey;
  margin-top: 40em;
}

#bio {
  margin: 10px;
}

#git, #linkedIn {
  width: 30px;
  height: 30px;
}

/* mobile-first design */
/*@media only screen and (min-width:768px) {
  body {
  }
}*/
