/* General */
body {
  /*background-color: #C0C0C0;*/
  /*color: #696969;*/
  background-color: #333333;
  color: #C0C0C0;
  /*font-family: Helvetica, sans-serif;*/
  padding-top: 70px;
  margin-bottom: 5em;
}

a {
  text-decoration: none;
  color: #C0C0C0;
}

li {
  display: inline;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

/* Navigation */
.navbar {
  background: #333333;
}

.navList {
  text-align: right;
  margin: 5px 0;
  padding: 10px 0;
}

.navList a {
  padding: .75em 1.5em;
  transition: all .25s ease-in-out;
}

.project {
  border: 1px solid #C0C0C0;
  display: inline-flex;
  height: 27em;
  justify-content: space-around;
  align-items: center;
  width: 33%;
}

/* Jumbotron */
.jumbotron {
  background: #333333;
  word-break: normal;
}

/* Projects */
.col-md-4 {
  border: 1px solid #C0C0C0;
}

/* IDs */
#placeholder {
  border: 1px solid #C0C0C0;
  height: 47em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#glamour {
  padding: 0px;
  max-width: 100%;
  height: auto;
  float: left;
}

#bio {
  margin: 10px;
}

#git, #linkedIn {
  width: 30px;
  height: 30px;
}

/* mobile-first design */
/*@media only screen and (min-width:768px) {
  body {
  }
}*/
