body {
  /*background-color: #C0C0C0;*/
  /*color: #696969;*/
  background-color: #333333;
  color: #C0C0C0;
  /*font-family: Helvetica, sans-serif;*/
}

a {
  text-decoration: none;
  color: #C0C0C0;
}

main {
  padding: 20px;
}

li {
  display: inline;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

/* Navigation */

.navList {
  text-align: right;
  margin: 0;
  padding: 0;
}

.navList a {
  padding: .75em 1.5em;
  transition: all .25s ease-in-out;
}

.project {
  border: 1px solid #C0C0C0;
  display: inline-flex;
  height: 27em;
  justify-content: space-around;
  align-items: center;
  width: 33%;
}

#placeholder {
  border: 1px solid #C0C0C0;
  height: 47em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#glamour {
  padding: 0px;
  max-width: 100%;
  height: auto;
  float: left;
}

#bio {
  display: flex;
  align-items: center;
  padding: 10px;
}

/* mobile-first design */
@media only screen and (min-width:768px) {
  body {
  }
}
